/* 共通スタイル */
.inner {
  width: 100%;
  max-width: calc(1400px + 6rem);
  padding-right: 3rem;
  padding-left: 3rem;
  margin: 0 auto;
}
@media only screen and (max-width: 899px) {
  .inner {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.inner.-wide {
  max-width: calc(1200px + 3.2rem);
}
.inner.-tight {
  max-width: calc(960px + 3.2rem);
}

@media only screen and (max-width: 899px) {
  .pcOnly {
    display: none;
  }
}
.spOnly {
  display: none;
}
@media only screen and (max-width: 899px) {
  .spOnly {
    display: inline-block;
  }
}

/* About */
.frontAbout {
  width: 100%;
  margin: 0 auto;
  background-color: #dce2ec;
  color: #234d4f;
  padding: 6rem 0;
}
.frontAbout .frontAbout__wrap {
  background-color: #ffffff;
  padding: 8rem 4rem 4rem;
  border-radius: 10px;
}
@media only screen and (max-width: 899px) {
  .frontAbout .frontAbout__wrap {
    padding: 5rem 1.6rem 4rem;
  }
}
.frontAbout .frontAbout__heading {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 8rem;
  position: relative;
}
.frontAbout .frontAbout__heading::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  display: inline-block;
  height: 5px;
  width: 50px;
  border-radius: 5px;
  background-color: #394563;
}
.frontAbout .frontAbout__title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-left: 6rem;
}
@media only screen and (max-width: 899px) {
  .frontAbout .frontAbout__title {
    font-size: 2.4rem;
    padding-left: 0;
    max-width: 600px;
    margin: 0 auto;
  }
}
.frontAbout .frontAbout__flexBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 6rem;
}
@media only screen and (max-width: 899px) {
  .frontAbout .frontAbout__flexBox1 {
    padding: 4rem 0;
  }
}
.frontAbout .frontAbout__textBox {
  width: 45%;
}
@media only screen and (max-width: 899px) {
  .frontAbout .frontAbout__textBox {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}
.frontAbout .frontAbout__text {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 899px) {
  .frontAbout .frontAbout__text {
    font-size: 1.6rem;
  }
}
.frontAbout .frontAbout__skills {
  width: 45%;
}
@media only screen and (max-width: 899px) {
  .frontAbout .frontAbout__skills {
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
  }
}
.frontAbout .frontAbout__skillsTitle {
  font-size: 2rem;
  border-bottom: 1px solid #394563;
  margin-bottom: 2rem;
}
.frontAbout .frontAbout__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 899px) {
  .frontAbout .frontAbout__list {
    padding-top: 0;
  }
}
.frontAbout .frontAbout__listItem {
  font-size: 2rem;
  font-weight: 400;
  padding: 0 1.2rem;
  letter-spacing: 0.1em;
  background-color: #394563;
  color: #ffffff;
  margin: 0 2rem 2rem 0;
  margin-right: 2rem;
  border-radius: 5px;
}
.frontAbout .frontAbout__skills.soft .frontAbout__listItem {
  background-color: #234d4f;
}
